@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    font-family: "Comfortaa", sans-serif;
}

.ant-typography,
.ant-btn,
.ant-card,
.ant-select,
.ant-form-item-label > label {
  font-family: "Comfortaa", sans-serif;
}

.layout-new {
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    background: none;
}